@using PagedList
@using PagedList.Mvc
@model  IPagedList<sitem.Models.Makale>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml ";
}

<h2>Anasayfa</h2>

<div class="col-md-8">
    @foreach (var item in Model)
    {
    <article class="col-sm-12">
        <h2>
            <a href="~/Home/MakaleDetay/@item.MakaleId">@item.Baslik</a>

        </h2>

        <p class="">
         <img src="~/Uploads/UyeFoto/@item.Uye.Foto" class="img-circle img-responsive " width="50" alt="@item.Uye.AdSoyad" />
            <a href="/Uye/UyeProfil/@item.Uye.UyeId">@item.Uye.KullaniciAdi</a>
        <span class="glyphicon glyphicon-time"></span> @string.Format("{0: MMMM  yyyyy}", item.Tarih)
        <span class="glyphicon glyphicon-tags"></span> @item.Etikets.Count

        </p>
         
        
            <hr>
            <img class="img-responsive" src="~/Uploads/MakaleFoto/@item.Foto" alt="@item.Baslik" />
        

            
            <hr>
            @if (item.icerik.Length > 150)
            {
<p>@Html.Raw(item.icerik.Substring(0, 150))...</p>
        }
        else
        {
            <p>@Html.Raw(item.icerik)...</p>
        }
        <a class="btn btn-primary" href="~/Home/MakaleDetay/@item.MakaleId">Read more<span class="glyphicon glyphicon-chevron-right"></span></a>
    </article>
    }
    <div class="row">
        <div class="col-md-8 text-center">
            <div class="pagedList pagination">
                @Html.PagedListPager(Model, Page=>Url.Action("Index",new {Page }),PagedListRenderOptions.Classic)

            </div>
        </div>
    </div>
</div>